.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.formGroup label {
  font-weight: 500;
  color: #374151;
  font-size: 0.9rem;
}

.error {
  display: block;
  margin-top: 6px;
  color: #dc2626;
  font-size: 13px;
  font-weight: 500;
}

.profileDropdownPanel {
  width: 70% !important;
}
