.container {
  position: relative;
  width: 100%;
}

.trigger {
  width: 100%;
  padding: 0.8rem 1rem;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  color: #1f2937;
  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease;
}

.trigger_active {
  background: #6c63ff;
  border-color: #6c63ff;
  color: #ffffff;
}

.trigger_active .chevronsUpDown_icon {
  color: #ffffff;
}

.trigger_active:hover {
  border-color: #5a52e0;
}

.dropdown {
  position: absolute;
  top: 52px;
  width: 50%;
  background: white;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
  z-index: 100;
  overflow: hidden;
}

.profile_item {
  width: 100%;
  padding: 12px 16px;
  text-align: left;
  border: none;
  background: white;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 6px;
}

/* .profile_item:hover {
  background: #6c63ff;
  color: #fff;
} */

.search_container {
  display: flex;
  align-items: center;
  padding: 12px;
}

.search_icon {
  width: 22px;
  height: 22px;
  opacity: 0.5;
}

.search_input {
  width: 100%;
  border: none;
  padding: 10px;
  outline: none;
  font-size: 1.1rem;
}

.addNewProfileContainer {
  padding: 8px;
}

.profile_hovered {
  background: #6c63ff;
  color: #fff;
}

.addNewProfileButton {
  padding: 10px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.addNewProfileButton span {
  font-size: 0.9rem;
  font-weight: 500;
}

.addNewProfileButton:hover {
  background: #6c63ff;
  color: #fff;
}

.plusIcon {
  width: 16px;
  height: 16px;
}

.profile_list_container {
  max-height: 180px;
  overflow-y: auto;
  border-top: 1px solid #e5e7eb;
  border-bottom: 1px solid #e5e7eb;
  padding: 4px;
}

.addNewProfileInputContainer {
  display: flex;
  gap: 4px;
  border-top: 1px solid #eee;
}

.addNewProfileInput {
  flex: 1;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 10px;
  outline: none;
}

.addNewProfileInput:focus {
  border: 1.8px solid #6c63ff;
}

.chevronsUpDown_icon {
  width: 16px;
  height: 16px;
  color: #6b7280;
  flex-shrink: 0;
}

.addButton {
  border: none;
  background: #6c63ff;
  flex: 1;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.check_icon {
  width: 16px;
  height: 16px;
}

.profile_text {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }

  .dropdown {
    width: 100%;
  }
}

.noProfilesMessage {
  padding: 20px;
  text-align: center;
  color: #6b7280;
  font-size: 0.9rem;
}
